.tako-title{
    letter-spacing: 0px!important;
}

.tako-subtitle{
    display: block;
    font-size: 12px;
    line-height: 24px;
}

.tako-tabs.tabs-onglets{
    text-align: left!important;
}

a.tako-tab.msg_ong{
    background-color: var(--mid)!important;
    border-top: 1px solid var(--mid)!important;
    border-bottom: 0px!important;
    margin-right: 8px;
    margin-bottom: 0px!important;
    padding: 4px 8px!important;
}

a.tako-tab.msg_ong.selected{
    background-color: var(--clair)!important;
    border-top: 1px solid var(--co1)!important;
    border-bottom: 0px!important;
    margin-bottom: 0px!important;
}

.msg_ong_contenu{
    position: relative;
}

.tako-chara-profil{
    width: calc(100% - 32px);
    padding: 16px;
    background-color: var(--clair);
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: 136px auto;
    column-gap: 16px;
}

.tako-profil-img img{
    width: 136px;
    height: auto;
}

.tako-name{
    display: block;
    font-family: 'kirimaru',serif;
    color: var(--blanc);
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.tako-shortdes{
    display: block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-transform: lowercase;
    color: var(--co1);
}

.tako-desc{
    margin-top: 8px;
    padding: 8px;
    height: 96px;
    overflow: auto;
    background: var(--bg_topics);
}
