a.tako-tab.msg_ong{
    background-color: var(--mid);
    border-top: 1px solid var(--mid);
    border-bottom: 0px;
}

a.tako-tab.msg_ong.selected{
    background-color: var(--clair);
    border-top: 1px solid var(--co1);
    border-bottom: 0px;
}

.msg_ong_contenu{
    position: relative;
}

.tako-chara-profil{
    padding: 16px;
    background-color: var(--clair);
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: 2;
    column-gap: 16px;
}

.tako-profil-img img{
    width: 136px;
    height: auto;
}

.tako-name{
    display: block;
    font-family: 'kirimaru',serif;
    color: var(--blanc);
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.tako-shortdes{
    display: block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-transform: lowercase;
    color: var(--co1);
}

.tako-desc{
    margin-top: 8px;
    padding: 8px;
    height: 96px;
    overflow: auto;
    background: var(--bg_topics);
}
